<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../js/main/search.js"></script>
    <script src="../js/main/play.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <title>노래 재생</title>
</head>

<body>
    <div id="info">
        <%=user%>님 접속중. <a id= "logout" href="/logout">로그아웃</a>
    </div>
    <div id = "wrap">
        <h1>니곡 내곡</h1>
        <div id="search_area">
            <!-- 엔터키 입력 또는 검색 버튼 클릭시 검색 -->
            <input type="text" id="search_bar" onkeydown="if(event.keyCode==13) javascript: search()">
            <img id="search_button" src="img/search_button.png" onclick="search()"><br>
        </div>

        <div id="search_view"></div>
        <table id="main">
            <thead>
                <tr>
                    <th id="order">#</th>
                    <th id="music_title">음악 제목</th>
                    <th id="delete"></th>
                </tr>
            </thead>
        </table>
    </div>
        <div id="player">
        </div>
            <img id="play_button" src="img/play_button.png" onclick="play()">
            <img id="next_button" src="img/next_button.png" onclick="nextVideo()">
            <img id="prev_button" src="img/prev_button.png" onclick="prevVideo()">
            <img id="sound_button" src="img/sound_button.png" onclick="mute()">
            <img id="clear_button" src="img/clear_button.png" onclick="clearPlaylist()">
            <div id="player_view"></div>
            <div id="play_info"></div>
</body>
<script>

</script>
</html>