@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 5px auto;
    font-family: 'MaplestoryOTFLight';
}
#info {
    margin-top: 20px;
    margin-left: 68%;
    
}
#logout {
    margin-left: 10px;
}
#wrap {
    width: 70%;
    margin-top: 40px;
    border: 5px solid black;
    border-radius: 4%;
}
h1 {
    width: 70%;
    margin-top: 30px;
    margin-left: 15%;
    margin-bottom: 40px;

}

#search_view {
    width: 60%;
    padding: 20px;
    background-color: #A6B8C4;
}

td {
    width: 70px;
    height: 35px;
    text-align: center;
    border: 1px solid black;
}

#search_area {
    width: 70%;
    height: 50px;
    display: block;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 5px solid black;
}

#search_button {
    position: absolute;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#search_bar {
    width: 90%;
    height: 80%;
}
#main {
    width: 65%;
    height: 45px;

}

#main thead {
    background-color: #A6B8C4;
    text-align: center;
    font-weight: bolder;
    padding: 5px 10px;
}

#main th {
    height: 40px;
}

#order {
    width: 10%;
}

#music_title {
    width: 85%;
}

#delete {
    width: 5%;
}

.delete_img {
    height: 90%;
    width: auto;
    cursor: pointer;
}

#search_result {
    text-decoration: none;
    font-size: 50px;
}

#play_button, #prev_button, #next_button, #sound_button, #clear_button {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 3%;
}
#prev_button {
    margin-left: 3%;
}
#next_button {
    margin-left: 17%;
}
#play_button {
    margin-left: 10%;
}
#sound_button {
    margin-left: 80%;
}
#clear_button {
    margin-left: 88%;
}
#player_view {
    position: fixed;
    margin-left: 27%;
    width: 100px;
    height: 80px;
    bottom: 0.8%;
}
#play_info {
    position: fixed;
    width: 35%;
    height: 50px;
    margin-left: 40%;
    bottom: 1.5%;
    padding: 10px;
    font-size: 20px;
}
#player {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: 0.5;
    bottom: 0px;
}
